
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

@model List<Qualification>

<div class="col-12">
    <div class="bg-blue rounded h-100 p-4">
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div><br />
    <h4 class="card-title">Qualification Table</h4><br />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Setting</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@(count++)</th>
                        <td>@item.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="mdi mdi-pencil"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-delete-variant"></i></a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>